# R files
.Rproj.user
.Rprofile
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto

# files
TODO.md

# folders
data-raw/features/*
data-raw/features/*/*
# keep subfolders and .gitkeep files
!data-raw/features/*/ 
!data-raw/features/.gitkeep
!data-raw/features/*/.gitkeep
dump/hidden/*


# logs
logs/*
!logs/.gitkeep

# backup files
*.bak

# env
config.share

# data
data/delta-share-download/*
!data/delta-share-download/.gitkeep