# R files
.Rproj.user
.Rprofile
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto

# files
TODO.md

# folders
data-raw/raw/*
!data-raw/raw/.gitkeep
dump/hidden/*


# logs
logs/*
!logs/.gitkeep

# backup files
*.bak

# env
config.share

# data
data/delta-share-download/*
!data/delta-share-download/.gitkeep