version: "3.8"
services:
  # VS Code development environment
  vscode:
    container_name: gaupefam-vscode
    profiles:
      - vscode
    build:
      context: ..
      dockerfile: .devcontainer/dev.Dockerfile
    user: "1000:1000"
    volumes:
      - ./docker.Rprofile:/home/rstudio/workspace/.Rprofile
      - ../:/home/rstudio/workspace:cached
      - ~/.cache/R/renv:/home/rstudio/cache # use host renv cache
      #  - renv-cache:/home/rstudio/cache (cache as named volume)
    environment:
      - R_PROFILE_USER=/home/rstudio/workspace/.Rprofile
      - RENV_PATHS_CACHE=/home/rstudio/cache
    command: sleep infinity
  # RStudio Server development environment
  rstudio:
    container_name: gaupefam-rstudio
    profiles:
      - rstudio
    build:
      context: ..
      dockerfile: .devcontainer/dev.Dockerfile
    user: "1000:1000"
    volumes:
      - ./docker.Rprofile:/home/rstudio/workspace/.Rprofile:ro
      - ../:/home/rstudio/workspace
      - ~/.cache/R/renv:/home/rstudio/cache # use host renv cache
      #  - renv-cache:/home/rstudio/cache (cache as named volume)
    environment:
      - DISABLE_AUTH=true
      - R_PROFILE_USER=/home/rstudio/workspace/.Rprofile
      - RENV_PATHS_CACHE=/home/rstudio/cache
    ports:
      - "8787:8787"
    command: /init
# volumes:
# renv-cache:
