name: CI - Docker Build and Test

on:
  push:
    branches:
      - '**'
      - '!main'
  pull_request:
  workflow_dispatch:

concurrency:
  group:
    ${{ github.workflow }}-${{ github.ref_name }}-${{
    github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  build:
    name: "build image"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and export
        uses: docker/build-push-action@v6.18.0
        with:
          tags: gaupefam:latest
          cache-from: type=gha,scope=gaupefam
          cache-to: type=gha,mode=min,scope=gaupefam
          outputs: type=docker,dest=/tmp/gaupefam.tar

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: gaupefam
          path: /tmp/gaupefam.tar

  test:
    name: "test image"
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v5

      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: gaupefam
          path: /tmp

      - name: Load image
        run: |
          docker load --input /tmp/gaupefam.tar
          docker image ls -a

      - name: Test Docker compose
        run: |
          docker compose up -d
          docker compose down

      - name: Test R package
        run: docker run gaupefam:latest Rscript -e "gaupefam::hello()"
